.Forecast {
  text-align: center;
  margin-left: 3px;
  padding: 10px;
}
.ForecastTitle {
  text-align: center;
  margin-left: 45px;
  color: silver;
  box-shadow: rgba(37, 39, 89, 0.6) 3px 7px 7px 0;
  border-radius: 10px;
  padding: 15px 20px;
}

.Forecast .col {
  border-radius: 10px;
  background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c6426e, #642b73);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95px;
  height: 170px;
  color: silver;
}
